<h1>Editing post</h1>

<form action="/posts/<%= @post[:id] %>" method="post" accept-charset="utf-8">
    
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="headers[layout]" value="post" id="header[layout]">
    
    <% @post[:headers].reject{|header| header[:key] == "layout"}.each do |header| %>
    <p><label for="header_<%= header[:key] %>"><%= header[:key] %></label><input type="text" name="headers[<%= header[:key] %>]" value="<%= header[:value] %>" id="header_<%= header[:key] %>"></p>
    <% end %>
    
    <textarea name="content" rows="8" cols="40">
        <%= @post[:content] %>
    </textarea>
    
    <p><input type="submit" value="Edit &rarr;"></p>
</form>

<%= link_to 'Show', "/posts/#{@post[:id]}" %> |
<%= link_to 'Back', posts_path %>
