<p id="notice"><%= notice %></p>

<h2><%= @post[:id] %></h2>

<ul>
    <% @post[:headers].each do |header| %>
    <li><%= header[:key] %>: <%= header[:value] %></li>
    <% end %>
</ul>

<%= Maruku.new(post[:content]).to_html.html_safe %>

<%= link_to 'Edit', edit_post_path(@post[:id]) %> |
<%= link_to 'Back', posts_path %>
